<ul>
    <% @alums.each do |a| %>
        <li>
            <%= a.name %>
            <%= a.email %>
            <%= a.grad_year %>
            <%= a.staff_position %>
            <%= a.job_now %>
            <%= a.where_you_live %>
        </li>
    <% end %>
</ul>
