<%
    # @param homepage, boolean
    # if true, split out featured articles
    # and don't show categories. if false, don't split them, and
    # do show the categories

    # @param issue, Issue
%>

<% 
    # get the FTE
    articles = issue.articles
    fte = (articles.select { |a| a.category == "FTE" })[0]
    cats = Hash.new
    articles.each do |a|
        # skip the fte
        unless a.category == 'FTE'
            if cats.key?(a.category)
                cats[a.category].push(a)
            else
                cats[a.category] = [a]
            end
        end
    end

%>

<div id="toc">

    <h2 style="float:left;"><%= issue.title.gsub("The College Hill Independent", "")
                                           .gsub("The Indy", "") %></h2>
    <h2 style="float:right;"><%= issue.date.strftime('%b %d, %Y') %></h2>
    <div class="clearfix"></div>

    <%# FTE box %>
    <% unless fte.nil? %>
        <div id="fte" class="caret">
        <h3>From the Editors</h3>
        <%= fte.body.html_safe %>
        <span>&ndash; <%= fte.by.upcase %></span>
        <div class="clearfix"></div>
        </div>
    <% end %>

    <% cats.sort.each do |cat, cat_articles| %>
        <h3 class="center"><%= cat %></h3>
        <% cat_articles.each do |a| %>
            <%= render "article/row", article: a %>
        <% end %>
    <% end %>


</div>