<%
    # @param homepage, boolean
    # if true, split out featured articles
    # and don't show categories. if false, don't split them, and
    # do show the categories

    # @param issue, Issue
%>

<% 
    # get the FTE
    articles = issue.articles
    fte = (articles.select { |a| a.category == "FTE" })[0]
    cats = Hash.new
    articles.each do |a|
        # skip the fte
        unless a.category == 'FTE'
            if cats.key?(a.category)
                cats[a.category].push(a)
            else
                cats[a.category] = [a]
            end
        end
    end

%>

<div id="toc">

    <h2 class="center" style="float:left;"><%= issue.title.gsub("The College Hill Independent", "")
                                           .gsub("The Indy", "") %></h2>
    <h2 class="center" style="float:right;"><%= issue.date.strftime('%b %d, %Y') %></h2>
    <div class="clearfix"></div>

    <%# slice of the cover %>
    <div id="cover-slice" style="background-image: url(<%= issue.cover %>)"></div>

    <%# FTE box %>
    <% unless fte.nil? %>
        <div id="fte" class="caret">
        <h3>From the Editors</h3>
        <%= fte.body.html_safe %>
        <% unless fte.by.blank? %>
            <span>&ndash; <%= fte.by.upcase %></span>
        <% end %>
        <div class="clearfix"></div>
        </div>
    <% end %>

    <% i = 0 %>
    <% cats.sort.each do |cat, cat_articles| %>
        <% if i > 0 %>
            <br><hr>
        <% end %>
        <h2 class="center upcase"><%= cat %></h2>
        <% cat_articles.each do |a| %>
            <%= render "article/row", article: a %>
        <% end %>
        <% i = i + 1 %>
    <% end %>

    <br><br>
</div>