<%= render 'layouts/header' %>

<%= render 'layouts/carousel', issues: @issues %>

<main id="home" class="ting">

<%  # show current issue title on the site
    display_title = @current_issue.title.gsub("The College Hill Independent", "")
                                        .gsub("The Indy", "")
    display_date =  @current_issue.date.strftime('%b %d %Y')
    # get the featured articles and the rest, if we're supposed to.
    # reject FTE, which should not be featured!
    fte = (@current_articles.select { |a| a.category == "FTE" })[0]
    articles_by_niceness = (@current_articles.reject { |a| a.category == 'FTE' })
                                             .sort_by{ |a|
                                -5 * a.featured.to_i +
                                -(!a.first_image_url.blank?).to_i +
                                -(!a.subtitle.blank?).to_i
                            }
    # which articles are going in the two big boxes up top? we want
    # ones with images, subtitles, and excerpts that are featured.
    nice_featured_articles = articles_by_niceness[0..1]
    bad_featured_articles = articles_by_niceness[2..4]
    the_rest = articles_by_niceness[5..-1]
%>
    <div id="current-issue">
        <%= link_to "/toc/#{@current_issue.id}" do %>
        <h2 style="float:left;">Current Issue</h2>
        <h2 style="float:right;"><%= display_title %>, <%= display_date %></h2>
        <% end %>
        <div class="clearfix"></div>

        <div id="top-feat">
            <% nice_featured_articles.each do |a| %>
                <div class="top-feat-article">
                    <br>
                    <%  if a.first_image_url.blank? 
                            bg = ""
                        else
                            bg = "style=\"background-image: url(#{a.first_image_url});\""
                        end
                    %>
                    <div class="img-holder" <%= bg.html_safe %>></div>
                    <p class="meta"><%= link_to a.category, "/feed?s=#{a.category.html_safe}" %></p>
                    <% if a.subtitle.blank? %>
                        <%= link_to "/#{a.id}" do %>
                            <%# title! everything should have a title. %>
                            <h4><%= a.title %></h4>
                        <% end %>
                    <% else %>
                        <%# subtitle! some stuff might not have one, so we guard it. %>
                        <%= link_to "/#{a.id}" do %>
                            <%# title! everything should have a title. %>
                            <h4><%= a.title %></h4>
                            <h5><%= a.subtitle %></h5>
                        <% end %>
                    <% end %>
                    <% unless a.by.blank? %>
                        <p class="meta"><%= link_people(a.by, "/author") %></p>
                    <% end %>
                </div>
            <% end %>
            <div class="clearfix"></div>
        </div>

        <div id="low-feat">
            <% bad_featured_articles.each do |a| %>
                <div class="low-feat-article">
                    <%  if a.first_image_url.blank? 
                            bg = ""
                        else
                            bg = "style=\"background-image: url(#{a.first_image_url});\""
                        end
                    %>
                    <div class="img-holder" <%= bg.html_safe %>></div>
                    <p class="meta"><%= link_to a.category, "/feed?s=#{a.category.html_safe}" %></p>
                    <% if a.subtitle.blank? %>
                        <%= link_to "/#{a.id}" do %>
                            <h4><%= a.title %></h4>
                        <% end %>
                    <% else %>
                        <%= link_to "/#{a.id}" do %>
                            <h4><%= a.title %></h4>
                            <h5><%= a.subtitle %></h5>
                        <% end %>
                    <% end %>
                    <% unless a.by.blank? %>
                        <p class="meta"><%= link_people(a.by, "/author") %></p>
                    <% end %>
                </div>
            <% end %>
            <div class="clearfix"></div>
        </div>

        <%# FTE box %>
        <div id="fte" class="caret">
            <h3>From the Editors</h3>
            <%= fte.body.html_safe %>
            <span>&ndash; <%= fte.by.upcase %></span>
            <div class="clearfix"></div>
        </div>

        <h3 class="center"><%= link_to 'Read More'.html_safe, "/toc/#{@current_issue.id}" %></h3>
    </div>
    <div id="current-issue-mobile">
        <%= link_to "/toc/#{@current_issue.id}" do %>
        <h2 class="center no-pad-bottom">Current Issue</h2>
        <h2 class="center"><%= display_title %>, <%= display_date %></h2>
        <% end %>

        <% (nice_featured_articles + bad_featured_articles).each do |a| %>
            <%= render 'article/row', article: a %>
        <% end %>
        <br>
        <p class="center">+++</p>
        <h3 class="center"><%= link_to 'Read More'.html_safe, "/toc/#{@current_issue.id}" %>
    </div>

    <br>
    <hr>
    <br>

    <h2 class="center upcase">From the Archive</h2>
    <div class="feed">
    <% (the_rest + @feed_articles)[0..4].each do |a| %>
        <%= render 'article/row', article: a %>
    <% end %>
    </div>
    <%= link_to "/feed" do %>
        <h2 class="center">More Articles</h2>
    <% end %>
</main>
