<div class="box">
    <%# title! everything should have a title. %>
    <h4><%= article.title %></h4>

    <%# subtitle! some stuff might not have one, so guard it. %>
    <% unless article.subtitle.blank? %>
        <h5><%= article.subtitle %></h5>
    <% end %>

    <%# thumbnail! some stuff might not have one, so guard it. %>
    <% unless article.first_image_url.blank? %>
        <%= image_tag article.first_image_url %>
    <% end %>

    <%# byline! some stuff might not have one, so guard it. %>
    <% unless article.by.blank? %>
        <p>by <%= article.by %></p>
    <% end %>

    <%# excerpt! some stuff might not have one, so guard it. %>
    <% unless article.body.blank? %>
        <% excerpt = strip_tags(article.body).gsub("&nbsp;", "").strip.split(/\s+/)[0..20].join(' ') %>
        <% unless excerpt.blank? # also need this cuz body could just have an image. %>
            <p><%= (excerpt + '&hellip;').html_safe %></p>
        <% end %>
    <% end %>

</div>