<% a = row_item_of_article_or_archive(article) %>
<% row_class = a[:has_image] ? (a[:just_image] ? "just-image" : "image") : "no-image" %>
<div class="article-box <%= row_class %>">
        <% if a[:has_image] %>
            <%= link_to a[:hotlink] do %>
                <div class="thumb <%= row_class %>" style="background-image: url(<%= a[:image_url] %>)"></div>
            <% end %>
        <% end %>
        <div class="info">
            <%= link_to a[:hotlink] do %>
                <h2><%= a[:title] %></h2>
                <% if !a[:subtitle].blank? %>
                    <h4><%= a[:subtitle] %></h4>
                <% end -%>
            <% end %>
            <% if !a[:author].blank? %>
                <p class="meta"><%= a[:author] %></p>
            <% end %>
            <% if !a[:just_image] && a[:has_image] %>
                <%= link_to a[:hotlink] do %>
                    <div class="mobile-thumb <%= row_class %>" style="background-image: url(<%= a[:image_url] %>)"></div>
                <% end %>
            <% end %>
            <% if a[:just_image] %>
                <%= link_to a[:hotlink] do %>
                    <div class="row-image" style="background-image: url(<%= a[:image_url] %>)"></div>
                <% end %>
            <% elsif !a[:excerpt].blank? %>
                <p><%= a[:excerpt] %></p>
            <% end %>
            <% meta = []
               meta.push (link_to a[:category], "/feed?s=" + ERB::Util.url_encode(a[:category])).html_safe if show_cat && !a[:category].blank?
               meta.push "posted <abbr class='timeago' title='#{a[:date]}'>#{a[:timeago]} ago</abbr>".html_safe
               meta.push (link_to "0 comments", a[:hotlink] + "#disqus_thread").html_safe
            %>
            <p class="meta"><%= raw meta.join(' &nbsp;&bull;&nbsp; ') %></p>
        </div>
</div>