<div class="article-row">

    <%# thumbnail! some stuff might not have one, so guard it. %>
    <% unless article.first_image_url.blank? %>
        <%= link_to (article.is_a?(Archive) ? "/#{article.wp_post_id}" : "/a/#{article.id}") do %>
            <div class="thumb" style="background-image: url(<%= article.first_image_url %>);"></div>
        <% end %>
    <% end %>

    <% if article.subtitle.blank? %>
        <%= link_to "/#{article.id}" do %>
            <%# title! everything should have a title. %>
            <h3><%= article.title %></h3>
        <% end %>
    <% else %>
        <%# subtitle! some stuff might not have one, so we guard it. %>
        <%= link_to "/#{article.id}" do %>
            <%# title! everything should have a title. %>
            <h3><%= article.title %></h3>
            <h4><%= article.subtitle %></h4>
        <% end %>
    <% end %>

    <%# cat! some stuff might not have one, so guard it. %>
    <% unless article.category.blank? %>
        <p class="meta"><%= link_to article.category, "/feed?s=#{article.category}"%>, <%= article.published_at.strftime('%b %d %Y') %></p>
    <% end %>

    <%# byline! some stuff might not have one, so guard it. %>
    <% unless article.by.blank? %>
        <p class="meta"><%= link_people(article.by, "/author") %></p>
    <% end %>

    <% # styling will depend on what kind of content this is
       has_image = !article.first_image_url.blank?
       no_text = removetags(strip_tags(article.body)).gsub(/\s/, '').gsub(/&nbsp;/, '').blank?
       image_class = (no_text ? (has_image ? 'just-image' : 'nothing')
                              : (has_image ? 'image-and-text' : 'just-text')) %>

    <%# excerpt! some stuff might not have one, so guard it. %>
    <% unless article.body.blank? %>
        <% excerpt = strip_tags(article.body).gsub("&nbsp;", "").strip.split(/\s+/)[0..20].join(' ') %>
        <% unless excerpt.blank? # also need this cuz body could just have an image. %>
            <p><%= (excerpt + ' &hellip;').html_safe %></p>
        <% end %>
    <% end %>
    <div class="clearfix"></div>
</div>