<% # this is for showing articles from the wordpress archives %>
<%= render 'layouts/header' %>

<article class="ting">
    <div class="article-content">
        <div class="article-title">
            <h1 class="uppercase"><%= @article.title %></h1>
            <h3><%= @article.subtitle %></h3>
            <% if !@article.author.blank? %>
                <h4>by <%= link_people(@article.author, "/author") %></h4>
            <% end %>
            <% if !@article.illustrator.blank? %>
                <h4 class="illustrator">Illustration by <%= link_people(@article.illustrator, "/illustrator") %></h4>
            <% end %>
        </div>
    </div>
    <div class="article-content archive">
        <div class="article-content-inner">
            <%= createtags(@article.formatted_content) %>
        </div>
    </div>

    <div class="article-content">
        <div class="article-content-inner">
            <%= render 'layouts/disqus' %>
        </div>
    </div>

</article>