<%= render 'layouts/header' %>

<% # fun data entry for future web editors
masthead = Hash.new
masthead["Managing Editors"] = ['Sophie Kasakove', 'Lisa Borst', 'Jamie Packs']
masthead["News"] = ['Camila Ruiz Segovia', 'Shane Potts', 'Liz Cory']
masthead["Metro"] = ['Jane Argodale', 'Will Weatherly', 'Marianna McMurdock']
masthead["Arts"] = ['Will Tavlin', 'Ryan Rosenberg', 'Kelton Ellis']
masthead["Features"] = ['Dominique Pariso', 'Elias Bresnick', 'Dash Elhauge', 'Piper French']
masthead["Science"] = ['Fatima Husain']
masthead["Tech"] = ['Jonah Max']
# masthead["Interviews"] = ['Elias Bresnick'] # RIP
masthead["Occult"] = ['Lance Gloss']
masthead["Literary"] = ['Stefania Gomez', 'Marcus Mamourian']
masthead["Metabolics"] = ['Sam Samore', 'Isabelle Doyle']
masthead["Ephemera"] = ['Patrick McMenamin', 'Mark Benz']
masthead["X"] = ['Liby Hays', 'Nicole Cochary']
masthead["List"] = ['Malcom Drenttel', 'Ruby Stenhouse']
masthead["Cover"] = ['Jade Donaldson']
masthead["Design & Illustration"] = ['Nikolas Bentel', 'Celeste Matsui', 'Alexa Terfloth', 'Zak Ziebell']
masthead["Staff Writers"] = [
    'Hannah Maier-Katkin',
    'Corey Hebert',
    'Kim Meilun',
    'Jack Brook',
    'Eve Zelickson',
    'Dolma Ombadykow',
    'Saanya Jain',
    'Anna Hundert',
    'Andrew Deck',
    'Signe Swanson',
    'Josh Kurtz',
]
masthead["Designers + Illustrators"] = [
    'Maria Cano-Flavia',
    'Teri Minogue',
    'Gabriel Matesanz',
    'Meryl Charleston',
    'Daniel Chimes',
    'My Tran',
    'Andrew Linder',
    'Stig Brunnstrom',
    'Celeste Matsui',
    'Ivan Rios-Fetchko',
    'Frans Van Hoek',
    'Yuko Okabe',
]
masthead["Copy"] = ['Miles Taylor']
masthead["Senior Editor"] = ['Alec Mapes-Frances']
masthead["Web"] = ['Charlie Windolf']

emails = Hash.new
emails['News']       = 'theindynews@gmail.com'
emails['Metro']      = 'theindymetro@gmail.com'
emails['Features']   = 'indyfeatures@gmail.com'
emails['Arts']       = 'indyarts@gmail.com'
emails['Interviews'] = 'indyinterviews@gmail.com'
emails['Literary']   = 'indyliterary@gmail.com'
emails['Metabolics'] = 'indymetabolics@gmail.com'
emails['Science']    = 'indyscience@gmail.com'
emails['Tech']       = 'indytech16@gmail.com'
emails['Occult']     = 'indyoccult@gmail.com'
emails['Ephemera']   = 'indyephemera@gmail.com'
emails['List']       = 'listtheindy@gmail.com'
emails['X']          = 'theindyx@gmail.com'
emails['Design']     = 'theindydesign@gmail.com'
emails['Illustration']='indyillustrations@gmail.com'
emails['Web']        = 'indyweb@gmail.com'
%>

<main class="static-page ting">
    <h1>the college hill independent</h1>
    <h1>volume 33 - fall 2016</h1>
    <div id="masthead">
    <% masthead.each do |section, people| %>
        <h4><%= section.downcase %></h4>
        <% people.each do |them| %>
            <p><%= them %></p>
        <% end %>
    <% end %>
    </div>
    <br><br>
    <h1>about us</h1>
    <p>The College Hill Independent is an alternative weekly newspaper written, designed, and illustrated by Brown and RISD students for the Providence community. It has been in existence since 1990.</p>
    <p>We publish ten issues per semester on a weekly basis. New issues come out Friday mornings and are distributed around Providence. 2,000 copies/issue means 40,000 copies/year, which makes the Indy the largest weekly newspaper in the state of Rhode Island. The Indy is printed in Seekonk, MA by TCI Press.</p>
    <p><strong>Letters to the editor</strong> are always welcome at <a href="mailto:theindy@gmail.com" target="_top">theindy@gmail.com</a>.</p>
    <p>We're big on the Internet. Follow us on Twitter <strong><a href="https://twitter.com/theindy_tweets" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','twitter.com']);">@theindy_tweets</a></strong> and like us on <strong><a href="http://www.facebook.com/pages/The-Indy/152814864875420" onclick="javascript:_gaq.push(['_trackEvent','outbound-article','www.facebook.com']);">Facebook</a></strong>.</p>
    <h4 style="margin-bottom:0;">Editorial Policy:</h4>
    <p>All submissions become property of The Indy. An editorial or blog post that appears without a byline represents the views of The Indy. Any other column, letter or image is the work of the attributed author and does not necessarily represent the views or opinions of The Indy.</p>
    <h1>how to contribute</h1>
    <p>The Indy welcomes all contributions (of words, images and letters) from current Brown and RISD students. If you’re looking to join our editorial staff, you can download the editor application from our website at the end of each semester. We also host an information session / new writers meeting every September and February; all are encouraged to attend.</p>
    <h4 style="margin-bottom:0;">To contribute:</h4>
    <p>Please send submissions to <a href="mailto:theindy@gmail.com" target="_top">theindy@gmail.com</a>. You may also send pitches, submissions, or requests to join the contributors’ mailing list to individual sections:</p>
    <% emails.each do |s, p| %>
        <p><strong><%= s %>:</strong>&nbsp;<a href="mailto:<%= p %>" target="_top"><%= p %></a></p>
    <% end %>
    <h4 style="margin-bottom:0;">Send mail to:</h4>
    <pre>The College Hill Independent
PO Box 1930
Brown University
Providence RI 02912</pre>
    <h2><strong><span style="color: #333333;">Staff Writers and Illustrators</span></strong></h2>
    <p>Writers and illustrators who publish three or more pieces in a semester are added to the masthead as Staff Writers and Staff Illustrators. Please contact theindy@gmail.com with questions.</p>
</main>