<%= render 'layouts/header' %>

<%
emails = Hash.new
emails['News']         = 'theindynews@gmail.com'
emails['Metro']        = 'theindymetro@gmail.com'
emails['Features']     = 'indyfeatures@gmail.com'
emails['Arts']         = 'indyarts@gmail.com'
emails['Interviews']   = 'indyinterviews@gmail.com'
emails['Literary']     = 'indyliterary@gmail.com'
emails['Metabolics']   = 'indymetabolics@gmail.com'
emails['Science']      = 'indyscience@gmail.com'
emails['Tech']         = 'indytech16@gmail.com'
emails['Occult']       = 'indyoccult@gmail.com'
emails['Ephemera']     = 'indyephemera@gmail.com'
emails['List']         = 'listtheindy@gmail.com'
emails['X']            = 'theindyx@gmail.com'
emails['Design']       = 'theindydesign@gmail.com'
emails['Illustration'] = 'indyillustrations@gmail.com'
emails['Web']          = 'indyweb@gmail.com'
%>

<main class="static-page ting">
    <h1>Volume 35</h1>
    <h1 style="padding-top: 0;">Fall 2017</h1>
    <br>
    <h2 class="upcase">Mission Statement</h2>
    <p>The College Hill Independent is a Providence-based publication written, illustrated, designed, and edited by students from Brown and RISD. Our paper is distributed around Providence’s East Side and Downtown, as well as online. In addition to publishing 20 pages of original writing, reporting, and art once a week, the Indy functions as an open workshop in which writers, artists, and designers collaborate and provide feedback on their work. Through an extensive editing process, we challenge each other to be responsible, intentional, and self-critical.</p>
    <p>We are committed to publishing politically engaged and accessible work. While the Indy is financed by Brown University, we hold ourselves accountable to our readers across the Providence community. The Indy rejects content that explicitly or implicitly perpetuates racism, sexism, homophobia, transphobia, xenophobia, ableism and/or classism. </p>
    <p>Though this list is not exhaustive, the Indy strives to address these systems of oppression by centering the voices, opinions, and efforts of marginalized people in Providence and beyond. </p>
    <p>The Indy is constantly evolving: we are always working to make our staff and content more inclusive. Though our editing process provides an internal structure for accountability, we always welcome letters to the editor. </p>
    <p>Spring 2017</p>

    <%= render 'pages/masthead' %>

    <br>
    <h2 class="upcase">Editorial Policy</h2>
    <p>All submissions become property of The Indy. An editorial or blog post that appears without a byline represents the views of The Indy. Any other column, letter or image is the work of the attributed author and does not necessarily represent the views or opinions of The Indy.</p>
    
    <br>
    <h2 class="upcase">Contributing</h2>
    <p>The Indy welcomes all contributions (of words, images and letters) from current Brown and RISD students. If you’re looking to join our editorial staff, you can download the editor application from our website at the end of each semester. We also host an information session / new writers meeting every September and February; all are encouraged to attend.</p>
    <p>Please send submissions to <strong><a href="mailto:theindy@gmail.com" target="_top">theindy@gmail.com</a></strong>. You may also send pitches, submissions, or requests to join the contributors’ mailing list to individual sections at the addresses below.</p>
    <div class="pinterest-style-holder">
    <% emails.each do |s, p| %>
    <div class="pinterest-style-thing emails">
        <h5><%= s %></h5><p><a href="mailto:<%= p %>" target="_top"><%= p %></a></p>
    </div>
    <% end %>
    </div>
    <br>
    <h2 class="upcase">Snail Mail</h2>
    <pre style="width: 300px; margin: 0 auto;">The College Hill Independent
PO Box 1930
Brown University
Providence RI 02912</pre>
    <br><br>
</main>