<%= render 'layouts/header' %>

<main class="alumni ting center">
<h1 class="center" style="padding-bottom: 0.25em;">Stay in touch!</h1>
<p><em>(Only name and email are required!)</em></p>
<br>
<%= form_tag alumni_path, :method => 'get' do %>
    <%= text_field_tag :name, "", placeholder: "Your Name" %>
    <br>
    <br>
    <%= text_field_tag :email, params[:email], :type => "email", required: "required", placeholder: "xxx@aol.com" %>
    <br>
    <br>
    <%= text_field_tag :grad_year, "", placeholder: "Graduation Year" %>
    <br>
    <br>
    <%= text_field_tag :staff_position, "", placeholder: "Position on Staff" %>
    <br>
    <br>
    <%= text_field_tag :job_now, "", placeholder: "Where do you work now?" %>
    <br>
    <br>
    <%= text_field_tag :where_you_live, "", placeholder: "Where do you live?" %>
    <br>
    <br>
    <%= submit_tag "Save Info" %>
<% end %>
<br><br>
<br><br>
<br><br>
<br><br>
</main>