<header>

	<!-- The overlay -->
	<div id="myNav" class="overlay">

	  <!-- Button to close the overlay navigation -->
	  <a href="javascript:void(0)" class="closebtn" onclick="closeNav()"></a>


	  <!-- Overlay content -->
	  <div class="overlay-content">
	  	<div id="content">
		  	<%= form_tag search_path, :method => 'get' do %>
		        	<%= text_field_tag :search, params[:search] %>
		    	<% end %>
		    	<div class= "equis"></div>
		    	<div class ="clearfix"></div>
		  	<ul> 
			    <li><%= link_to "About", "/about" %></li>
		        <li><%= link_to "Apply", "/apply" %></li>
		        <li><%= link_to "List", "/list" %></li>
		        <li><%= link_to "Masthead", "/masthead" %></li>
		        <li><%= link_to "Subscribe", "/subscribe" %></li>
		    	<li><%= link_to "Arts", "/feed?s=Arts" %></li>
		        <li><%= link_to "Ephemera", "/feed?s=Ephemera" %></li>
		        <li><%= link_to "Features", "/feed?s=Features" %></li>
		        <li><%= link_to "Interviews", "/feed?s=Interviews" %></li>
		        <li><%= link_to "Literary", "/feed?s=Literary" %></li>
		        <li><%= link_to "Metabolics", "/feed?s=Metabolics" %></li>
		        <li><%= link_to "Metro", "/feed?s=Metro" %></li>
		        <li><%= link_to "News", "/feed?s=News" %></li>
		        <li><%= link_to "Occult", "/feed?s=Occult" %></li>
		        <li><%= link_to "Science & Tech", "/feed?s=Science" %></li>
		    </ul>
		  </div>
		</div>
	</div>
	<div id="header-content">
		<div id ="top-links"> <!-- All the stuff that goes on the top row of the header -->

			<div id="social">
		        <%= link_to "https://twitter.com/theindy_tweets" do %>
		            <%= image_tag '/assets/t-150.png' %>
		        <% end %>
		        <%= link_to "https://www.facebook.com/pages/The-Indy/152814864875420" do %>
		            <%= image_tag '/assets/fb-150.png' %>
		        <% end %>
		    </div>

		    <ul>
		        <li><%= link_to "About", "/about" %></li>
		        <li><%= link_to "Apply", "/apply" %></li>
		        <li><%= link_to "List", "/list" %></li>
		        <li><%= link_to "Masthead", "/masthead" %></li>
		        <li><%= link_to "Subscribe", "/subscribe" %></li>
		    </ul>

		    <%= form_tag search_path, :method => 'get' do %>
	        	<%= text_field_tag :search, params[:search] %>
	    	<% end %>
		</div>
	    	<div class="clearfix"></div>
	    <h1 class="logo desktop"><%= link_to "THE COLLEGE HILL INDEPENDENT", root_path %></h1>
	    <h2 class="logo mobile"><%= link_to "the college hill independent", root_path %></h2>
	    <div id="ham"></div>

	    <div id="sections">
	    	<ul>
		        <li><%= link_to "Arts", "/feed?s=Arts" %></li>
		        <li><%= link_to "Ephemera", "/feed?s=Ephemera" %></li>
		        <li><%= link_to "Features", "/feed?s=Features" %></li>
		        <li><%= link_to "Interviews", "/feed?s=Interviews" %></li>
		        <li><%= link_to "Literary", "/feed?s=Literary" %></li>
		        <li><%= link_to "Metabolics", "/feed?s=Metabolics" %></li>
		        <li><%= link_to "Metro", "/feed?s=Metro" %></li>
		        <li><%= link_to "News", "/feed?s=News" %></li>
		        <li><%= link_to "Occult", "/feed?s=Occult" %></li>
		        <li><%= link_to "Science & Tech", "/feed?s=Science" %></li>
			</ul>

	    </div>
    </div>
    
</header>